/* 
Navigation bar body 
*/
.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    font-family: serif;
    background-color: #292b2c;
    padding: 1.5vh 2vw;
}

.navbar-grid {
    display: grid;
    grid-template-columns: 20% auto 10% 1%;
    grid-column-gap: 6vw;
    align-items: center;
}

.navbar-grid .navbar-links{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
}

.navbar-grid .navbar-icons{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    align-items: center;
}

/* 
Navigation bar brand 
*/
.navbar-brand {
    font-family: serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: bolder;
}

#home {
    text-decoration: none;
    color: #f7f7f7;
}

/* 
Navigation bar links 
*/
.navbar-community, .navbar-assignment, .navbar-learn, .navbar-calendar {
    font-family: serif;
    font-size: 1.2rem;
    font-weight: bold;
}

#community, #assignment, #learn, #calendar {
    text-decoration: none;
    color: #f7f7f7;
}

#community:hover, #assignment:hover, #learn:hover, #calendar:hover {
    color: #d0cfca;
    border-bottom: 2px solid #d0cfca;
}

/* 
Navigation bar icons 
*/
#navbar_account_png{
    width: 2.3rem;
    border-radius: 40%;
}

#navbar-notification:hover, #navbar-chat:hover, #navbar-profile:hover {
    color: black;
}

/* 
Navigation bar profile dropdown 
*/
.profile-dropdown {
    position: relative;
    display: block;
}
  
.profile-dropdown-content {
    box-shadow: 0px 0px 3px black;
    display: none;
    position: absolute;
    transform: translate(-40%);
    background-color: #f7f7f7;
    min-width: 9vw;
    z-index: 1;
    font-size: 13px;
    text-align: center;
}
  
.profile-dropdown-content > a, .profile-dropdown-content > button{
    font-family: serif;
    font-size: 1rem;
    color: #292b2c;
    padding: 1vh 1vw;
    text-decoration: none;
    display: block;
    border: none;
    text-decoration: none;
}

.profile-dropdown-content > button {
    width: 100%;
    cursor:pointer;
}
  
.profile-dropdown-content > a:hover, .profile-dropdown-content > button:hover{
    background-color: #ddd;
}
  
.profile-dropdown:hover .profile-dropdown-content {
    display: block;
}

/* 
Navigation bar greeting 
*/
#greeting-signin {
    display: inline-block;
    padding: 0.8vh 0.8vw;
    text-decoration: none;
    color: #292b2c;
    background-color: rgb(233, 214, 40);
    border-radius: 10px;
}

#greeting-signin:hover {
    background-color:rgb(212, 194, 28);
}

#greeting-done-signin {
    display: inline-block;
    padding: 0.8vh 0.8vw;
    border-radius: 10px;
    background-color: rgb(233, 214, 40);
    color: #292b2c;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .navbar-grid {
        grid-template-columns: 100%;
    }

    .navbar-grid .navbar-links{
        grid-template-columns: 100%;
    }

    .navbar {
        position: relative;
    }

    * {
        font-size: 50%;
    }
    
}