/* setting cp page body */
.setting-ce {
    display: grid;
    grid-template-columns: 20% 25% 30% 25%;
    justify-content: space-between;
    text-align: center;
    background-image: url('../../../resource/images/setting.png');
    background-position: top center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 90vh;
}

/* setting cp page left */
.setting-ce-left {
    background-color: rgb(114, 102, 87);
    min-height: 800px;
}

.ce-sidenav-title {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 100px;
}

#ce-changepassword, #ce-changeemail{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: rgb(184, 184, 184);
    padding: 20px 0;
}

#ce-changeemail {
    border-left: 8px solid red;
    background-color: rgb(70, 65, 60);
    color: white;
}

#ce-changepassword:hover{
    color: white;
    background-color: rgb(70, 65, 60);
}

/* setting cp page midright */
.setting-ce-midright {
    background-color: white;
    height: 45vh;
    overflow: auto;
    box-shadow: 0 0 3px gray;
    margin-top: 15vh;
    margin-bottom: 10vh;
    padding: 2vh 2vw;
}

.ce-form-field-title {
    margin-top: 6vh;
    margin-bottom: 6vh;
}

#change-email-input, #cchange-email-input {
    font-family: serif;
    font-size: 1rem;
    font-style: italic;
    padding: 3px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px black;
    outline: none;
    width: 12vw;
    height: 3vh;
}

#ce-button {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 90px;
    width: 12vw;
    padding: 0.5vh 0;
    border-radius: 5px;
    background-color: rgb(233, 214, 40);
    color: black;
    box-shadow: 0 0 3px gray;
    transition: 0.3s;
    cursor: pointer;
}

#ce-button:hover {
    background-color: rgb(212, 194, 28);
    box-shadow: 0 0 3px gray;
}