.ce-sidenav-title {
    font-size: 35px;
    margin-left: 40px;
    margin-top: 40px;
}

.ce-sidenav {
    height: 300px;
    width: 250px;
    background-color: #EED2AA;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 230px;

}
  
.ce-sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #D85541;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-bottom: #D85541 solid 1px;
}

.ce-sidenav a:hover {
    text-decoration: none;
    color: #7a2e22;
    box-shadow: 0 0 2px 1px rgba(67, 70, 54, 0.5);
    background-color: #547876;
}

.change-email-section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #EED2AA;
    position: absolute;
    top: 200px;
    left: 500px;
    border: #D85541 solid 1px;
}

.ce-form-field {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#ce-button {
    position: relative;
    left: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgb(34, 100, 243);
    color:white;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 12px;
}