.start_to_learn {
    padding-top: 150px;
    min-height: 100%;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.start_to_learn>div:nth-child(1) h2{
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
}

.start_to_learn>div:nth-child(1) a{
    text-decoration: none;
    display: inline-block;
    color: #eee;
    background: rgb(32, 74, 94);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
