.start_to_learn {
    padding-top: 150px;
    min-height: 100%;
    background: url('../../../resource/images/blackBoard.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.start_to_learn_courses {
    background-color: #eee;
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 40%;
    justify-content: space-between;
    padding: 1vh 3vw;
    border-radius: 10px;
}



.start_to_learn>div:nth-child(1) a{
    text-decoration: none;
    display: inline-block;
    color: black;
    background: rgb(233, 214, 40);
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all .5s;
}

.start_to_learn>div:nth-child(1) a:hover{
    background: rgb(212, 194, 28);
}

.course_enrol {
    width: 80vw;
    margin: 0 auto;
    margin-top: 5vh;
}
