.sumbit_assignment_page {
    background: url('../../../resource/images/blackBoard.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    border-top: 1px solid transparent;
    margin-top: 0;
}

.sumbit_assignment_form {
    border-radius: 20px;
    margin: 150px auto;
    margin-top: 6.5%;
    width: 30%;
    background: -webkit-linear-gradient(135deg, #a6db43 0%,#e2cf21 50%);
    padding: 50px 100px;
    box-shadow: 1px 1px 5px 2px gray;
}

.submit_file {
    margin-bottom: 50px;
}

.submit_file h3 {
    display: inline-block;
}

#submit_file {
    display: inline-block;
}

.sumbit_assignment_form button {
    position: relative;
    cursor: pointer;
}

.sumbit_assignment_btn {
    border-radius: 5px;
    float: right;
}

.discard_assignment_btn {
    border-radius: 5px;
}

.sumbit_assignment_form button:hover .sumbit_assignment_btn_mask {
    animation-name: submitAssignment;
    animation-duration: 1s;
}

.sumbit_assignment_btn_mask {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}


@keyframes submitAssignment {
    from {
        width: 0;
        opacity: 1;
    }
    to {
        width: 100%;
        opacity: 0;
    }
}