/*
Footer for webiste.
*/
.footer-area1 {
    background-color: rgb(63, 63, 63);
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-between;
    padding: 1vh 1vw;
    align-items: center;
}

.footer-area1 > div{
    align-items: center;
    text-align: center;
}

/*
Footer brand.
*/

.footer-brand {
    font-size: 2.5rem;
}


#footer-home {
    color: #f7f7f7;
    text-decoration: none;
}

/*
Information about the website.
*/
.footer-info {
    font-size: 1.5rem;
}

/*
Github link to our project.
*/
#footer-github {
    background-color: #292b2c;
    color: #f7f7f7;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}

#footer-github:hover {
    background-color: rgb(19, 19, 19);
    color: rgb(207, 207, 207);
    text-decoration: none;
}

/*
Description about our team.
*/
.team-description {
    background-color: #292b2c;
    color: #f7f7f7;
    text-align: center;
    height: 4vh;
    line-height: 4vh;
}
