/*
body of make post page
*/
.makePost {
    margin-top: 70px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-image: url('../../../resource/images/profileBg.png');
    background-size: cover;
    border-top: 1px solid transparent;
}
/*
the textarea of title and content
*/
.makePost_center {
    margin-top: 3vh;
    border-radius: 10px;
    background-color: rgba(223, 223, 223, 0.9);
    padding: 3vh 5vw;
}

.makePost_title, .makePost_content {
    margin-bottom: 5vh;
}
.makePost_content textarea {
    min-height: 200px;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
    font-size: 17px;
    resize: none;
    outline: none;
    padding: 1vh 2vw;
}

.makePost_title textarea {
    min-height: 50px;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
    font-size: 25px;
    resize: none;
    outline: none;
    padding: 1vh 2vw;
}

/*
create post button
*/
#createPost {
    background-color: rgb(233, 214, 40);
    padding: 8px 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    width: 8vw;
}

.makePost_content_btn {
    margin: 0 auto;
    text-align: center;
}

#createPost:hover {
    background-color: rgb(212, 194, 28);
}