/*
body of profile page
*/
.profile {
    margin: 0;
    width: 100%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 3% 25% 1% 50% 12%;
    justify-content: space-between;
    text-align: center;
    background-image: url('../../../resource/images/profileBg.png');
    background-size: cover;
    min-height: 900px;
    padding-bottom: 10vh;
    font-family: Arial, Helvetica, sans-serif;
}

.grid2 {
    margin-top: 7vh;
    background-color: transparent;
}
/*
user's photo
*/
.grid2-photo {
    /* background-image: url('../../../resource/icons/p-photo.jpg'); */
    background-size: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    z-index: 1;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border: 2px solid black;
}
#profile-pic {
    height: 100%;
    width: 100%;
    z-index: -1;
    border: none; 
    border-radius: inherit;
}
.change-photo {
    text-decoration: none;
    color: black;
    background-color: rgb(233, 214, 40);
    position: absolute; 
    top:0%;
    border-radius: 20px;
    box-shadow: 0 0 3px gray;
    transition: 0.5s;
    width:100%;
}
#change-photo-input {
    border: none;
}
#change-photo-input:hover {
    cursor: pointer;
}
.change-photo:hover {
    background-color: rgb(212, 194, 28);
}
/*
repositive
*/
.grid2-infoarea {
    position: -webkit-sticky;
    position: sticky;
    top: 250px;
    background-color: white;
    color: black;
    min-height: 150px;
    width: 250px;
    margin: 0 auto;
    margin-top: 3vh;
    z-index: 2;
    box-shadow: 0 0 3px gray;
}

.grid2-name {
    padding-top: 30px;
}

.grid2-title {
    background-color: rgb(236, 236, 236);
    margin: 0 auto;
    margin-top: 3vh;
    width: 70%;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0 0 3px gray;
}

.grid2-infoarea2 {
    position: -webkit-sticky;
    position: sticky;
    width: 250px;
    margin: 0 auto;
    top: 400px;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0 3px gray;
    z-index: 1;
    padding: 2vh 0;
}

.grid2-text {
   margin-bottom: 0.5rem;
}
.grid2-edit{
    margin-top: 1rem;
}

.grid2-btn {
    text-decoration: none;
    color: black;
    background-color:rgb(233, 214, 40);
    padding: 8px 30px;
    border-radius: 3px;
    box-shadow: 0 0 3px gray;
    transition: 0.5s;
    cursor: pointer;
}

.grid2-btn:hover {
    background-color: rgb(212, 194, 28);
}

.grid2-btn-edit {
    text-decoration: none;
    color: black;
    background-color:#5cb85c;
    padding: 8px 40px;
    border-radius: 3px;
    box-shadow: 0 0 3px gray;
    transition: 0.5s;
    cursor: pointer;
}

.grid2-btn-edit:hover {
    background-color:#46a046;
}

#discard-btn {
    background-color: #d9534f;
    cursor: pointer;
}
#discard-btn:hover{
    background-color: rgb(202, 7, 0);
}

.grid3 {
    
}

.grid4 {
    background-color: white;
    margin-top: 7vh;
    box-shadow: 0 0 3px gray;
    min-height: 700px;
}

.grid4-aboutme {
    min-height: 10vh;
}

.grid4-aboutme-header {
    margin-top: 3vh;
    text-align: left;
    margin-left: 20px;
}

.grid4-aboutme-text {
    text-align: left;
    margin: 20px 40px;
}
/*
edit textbox
*/
.edit-textbox {
    width: 80%;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
    outline: none;
    padding: 1vh 1vw;
    resize: none;
}
/*
industry 
*/
.grid4-industry {
    background-color: rgb(236, 236, 236);
    min-height: 10vh;
    margin-top: 50px;
    padding: 20px 0;
}

.grid4-industry-header {
    text-align: left;
    margin-left: 20px;
}

.grid4-industry-text {
    text-align: left;
    margin: 20px 40px;
}
/*
tags
*/
.grid4-tag {
    margin-top: 3vh;
}

.grid4-tag-header {
    text-align: left;
    margin-left: 20px;
}

.grid4-tag-text {
    text-align: left;
    margin: 20px 40px;
}

/* .grid4-tag-text p{
    background-color: yellowgreen;
    text-align: left;
    padding: 5px 10px;
    margin: 6px;
    display:inline-block;
    width:auto;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
} */

.grid5 {
    
}
/*
warning massage if there are some invalid input
*/
.warningMsg{
    margin-top: 3em;
    margin-bottom: 13em;
    text-align: center;
}