.navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #EED2AA;
    border-bottom: #D85541 solid 3px;
    /* height: 70px; */
    width: 100%;
}

.navbar-brand {
    padding-right: 160px;
    position: relative;
    /* top: 15px; */
    left: 10px;
}

/* .navbar-community {
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
    top: 5px;
}

.navbar-calendar {
    padding-right: 160px;
    padding-left: 20px;
    position: relative;
    top: 5px;
} */

/* .navbar-assignment, .navbar-learn {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 5px;
} */

.navbar-notification, .navbar-chat, #navbar-profile {

    text-decoration: none;
    color: #D85541;
    transition: 0.5s;
    /* padding: 20px; */
}

/* #navbar-notification, #navbar-chat, #navbar-profile {
    position: relative;
    top: 15px;
} */

#home {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 40px;
    text-decoration: none;
    color: #D85541;
}

#community, #assignment, #learn, #calendar {
    text-decoration: none;
    color: #D85541;
    transition: 0.5s;
    /* padding: 10px; */
}

.navbar-community:hover, .navbar-assignment:hover, .navbar-learn:hover, .navbar-calendar:hover {
    text-decoration: none;
    color: #7a2e22;
    box-shadow: 0 0 2px 1px rgba(67, 70, 54, 0.5);
    border-radius: 30px;
    background-color: #547876;
    /* padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px; */
}

  
.navbar-notification:hover, .navbar-chat:hover, #navbar-profile:hover {
    text-decoration: none;
    color: #7a2e22;
    box-shadow: 0 0 2px 1px rgba(67, 70, 54, 0.5);
    border-radius: 30px;
    background-color: #547876;
}
  
.profile-dropdown {
    position: relative;
    display: inline-block;
}
  
.profile-dropdown-content {
    border: black solid 1px;
    display: none;
    position: absolute;
    left: -75px;
    top: 40px;
    background-color: #f1f1f1;
    min-width: 150px;
    z-index: 1;
    font-size: 13px;
}
  
.profile-dropdown-content > a, .profile-dropdown-content > button{
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
}

.profile-dropdown-content > button {
    width: 100%;
    cursor:pointer;
}
  
.profile-dropdown-content > a:hover, .profile-dropdown-content > button:hover{
    background-color: #ddd;
    text-decoration: none;
}
  
.profile-dropdown:hover .profile-dropdown-content {
    display: block;
}

/* #account-profile, #account-chat, #account-notification, #account-viewallmyposts, #account-setting, #account-logout {
    text-decoration: none;
} */

.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 1em;
    align-items: center;
}
.nav-wrapper > div{
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: center;
    text-align: center;
}
.navbar-icons {
    margin-left: 30%;
}