.signin-page {
    background-color: rgb(252, 252, 252);
    height: 1000px;
}

.signin-field {
    background-color: white;
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 50px auto;
    box-shadow: 0px 1px 10px #888888;
}

.signin-title {
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

.signin-form-field {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}

.signin-navbar {
    background-color: white;
    box-shadow: 0px 1px 4px #888888;
}

#signin-home {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.signin-title {
    text-align: center;
}

.direct-signup {
    text-align: center;
}

.signin-button {
    padding-top: 40px;
}

#signin-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgb(34, 100, 243);
    color:white;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 12px;
}

#signin-button:hover {
    background-color: #2689da; 
    color: white;
}