/*
post page.
*/
.post {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
    margin: 30px auto;
    padding: 20px;
}
/*
The link to community/post_content.
*/
.inner {
    text-decoration: none;
    color: black;
}
/*
post icon
*/
.post img{

    width: 35px;
    height: 35px;
}
/*
post part and post button
*/
.post .post_button{
    padding: 3px 8px;
    margin: 0 10px;
    background-color: yellowgreen;
}
/*
Share icon
*/
.share_img {
    height: 10px;
    width: 10px;
}
/*
share part
*/
.share{
    background-image: url('../../../resource/icons/share.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: none;
    font-weight: 200;
    color: black;
}
/*
The share part and string of "Share"
*/
.share #share_text {

    margin-left: 20px;
}
/*
The footer of post page
*/
.post_footer {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
}







