.grade_assignment_page {
    background: url('../../../resource/images/blackBoard.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    border-top: 1px solid transparent;
    margin-top: 0;
}

.grade_assignment_form {
    border-radius: 20px;
    margin: 150px auto;
    margin-top: 6.5%;
    width: 75%;
    background: antiquewhite;
    padding: 50px 100px;
    box-shadow: 1px 1px 5px 2px gray;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 2vw;
}

.switch_student {
    background-color: #eee;
    max-height: 60vh;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px black;
    border-top: 1px solid transparent;
    overflow: auto;
}

.switch_student_single {
    cursor: pointer;
    padding: 2vh 1vw;
    text-align: center;
    border-bottom: 1px solid black;
}

.switch_student_single:hover {
    background-color: antiquewhite;
}